.customDark{

}
.customDark .ui.disabled.input {
    opacity: 0.65;
}
.customDark .ui.disabled.selection {
    opacity: 0.65;
}
.customDark .ui.disabled.input input{
    background-color: #e0dfe8;
    color: black;
    opacity: 1;
}

.customDark2{

}

.customDark2 .disabled.field {
    opacity: 0.65 !important;
}

.customDark2 .ui.disabled.selection {
    opacity: 1;
}
.customDark2 .ui.disabled.input {
    opacity: 1
}
